<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<configSections>
		<section name="Federation" type="dk.nita.saml20.config.ConfigurationReader, dk.nita.saml20"/>
		<section name="SAML20Federation" type="dk.nita.saml20.config.ConfigurationReader, dk.nita.saml20"/>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" requirePermission="false"/>
	</configSections>
	<Federation auditLoggingType="dk.nita.saml20.Logging.Log4NetAuditLogger, dk.nita.saml20.ext.audit.log4net" sessionType="dk.nita.saml20.Session.InProcSessionStoreProvider, dk.nita.saml20" xmlns="urn:dk.nita.saml20.configuration">
		<SessionTimeout>30</SessionTimeout>
		<AllowedClockSkewMinutes>3</AllowedClockSkewMinutes>
		<PreventOpenRedirectAttack>true</PreventOpenRedirectAttack>
		<SigningCertificates>
			<!--<SigningCertificate findValue="a402bb172929ae0d0ada62f6864329c35dc29483" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint"/>-->
			<SigningCertificate findValue="6e59fa53f8d2e1c95964984c3879f60eed4d862f" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint"/>
		</SigningCertificates>
		<MetaDataShaHashingAlgorithm>SHA256</MetaDataShaHashingAlgorithm>
		<AllowedAudienceUris>
			<Audience>https://dev3.apopro.dk</Audience>
		</AllowedAudienceUris>
		<Actions>
			<clear/>
			<add name="SetSamlPrincipal" type="dk.nita.saml20.Actions.SamlPrincipalAction, dk.nita.saml20 "/>
			<!--<add name="LogAction" type="WebsiteDemo.LogAction, WebsiteDemo"/>-->
			<add name="Redirect" type="dk.nita.saml20.Actions.RedirectAction, dk.nita.saml20"/>
		</Actions>
	</Federation>
      <SAML20Federation xmlns="urn:dk.nita.saml20.configuration">
    <AllowAssuranceLevel>true</AllowAssuranceLevel>
    <MinimumAssuranceLevel>3</MinimumAssuranceLevel>
    <MinimumNsisLoa>Substantial</MinimumNsisLoa>
    <ShowError>true</ShowError>
    <!--<ServiceProvider id="https://saml.oiosaml3-net.dk" server="https://oiosaml-net.dk:20002">-->
    <!--<ServiceProvider id="https://dev.apopro.dk" server="https://dev.apopro.dk:20002">-->
    <ServiceProvider id="https://dev3.apopro.dk" server="https://dev.apopro.dk">
      <ServiceEndpoint localpath="/Prescription" type="signon" redirectUrl="/Prescription/NextStep" index="0"/>
      <ServiceEndpoint localpath="/logout.ashx" type="logout" redirectUrl="/Default.aspx" index="1"/>
      <ServiceEndpoint localpath="/logout.ashx" type="soaplogout" errorBehaviour="throwexception"/>
      <ServiceEndpoint localpath="/metadata.ashx" type="metadata"/>
      <md:ContactPerson contactType="technical" xmlns:md="urn:oasis:names:tc:SAML:2.0:metadata">
        <md:Company>Nets DanID A/S</md:Company>
        <md:GivenName>Morten</md:GivenName>
        <md:SurName>Bech</md:SurName>
        <md:EmailAddress>mdbec@nets.eu</md:EmailAddress>
        <md:TelephoneNumber>4</md:TelephoneNumber>
      </md:ContactPerson>
    </ServiceProvider>
    <RequestedAttributes>
      <!-- The attributes that the demonstration identity provider issues. -->
      <att name="https://data.gov.dk/model/core/specVersion" isRequired="true"/>
      <att name="https://data.gov.dk/model/core/eid/bootstrapToken" isRequired="false"/>
      <att name="https://data.gov.dk/model/core/eid/privilegesIntermediate" isRequired="false"/>
      <att name="https://data.gov.dk/concept/core/nsis/loa" isRequired="true"/>
      <att name="https://data.gov.dk/concept/core/nsis/ial" isRequired="false"/>
      <att name="https://data.gov.dk/concept/core/nsis/aal" isRequired="false"/>
      <att name="https://data.gov.dk/model/core/eid/fulName" isRequired="false"/>
      <att name="https://data.gov.dk/model/core/eid/firstName" isRequired="false"/>
      <att name="https://data.gov.dk/model/core/eid/lastName" isRequired="false"/>
      <att name="https://data.gov.dk/model/core/eid/email" isRequired="false"/>
      <att name="https://data.gov.dk/model/core/eid/cprNumber" isRequired="false"/>
      <att name="https://data.gov.dk/model/core/eid/age" isRequired="false"/>
      <att name="https://data.gov.dk/model/core/eid/cprUuid" isRequired="false"/>
      <att name="https://data.gov.dk/model/core/eid/dateOfBirth" isRequired="false"/>
      <att name="https://data.gov.dk/model/core/eid/person/pid" isRequired="false"/>
      <att name="https://data.gov.dk/model/core/eid/professional/uuid/persistent" isRequired="false"/>
      <att name="https://data.gov.dk/model/core/eid/professional/rid" isRequired="false"/>
      <att name="https://data.gov.dk/model/core/eid/professional/cvr" isRequired="true"/>
      <att name="https://data.gov.dk/model/core/eid/professional/orgName" isRequired="true"/>
      <att name="https://data.gov.dk/model/core/eid/professional/productionUnit" isRequired="false"/>
      <att name="https://data.gov.dk/model/core/eid/professional/seNumber" isRequired="false"/>
    </RequestedAttributes>
    <NameIdFormat>urn:oasis:names:tc:SAML:2.0:nameid-format:persistent</NameIdFormat>
    <IDPEndPoints metadata="idp-metadata">
	    <add id="https://t-borger.dkseb.dk/runtime/" omitAssertionSignatureCheck="true" default="true">
			<CertificateValidation><add type="dk.nita.saml20.Specification.SelfIssuedCertificateSpecification, dk.nita.saml20.oces3, Version=0.0.0.0, Culture=neutral" /></CertificateValidation>
	    </add>
    </IDPEndPoints>
    <CommonDomain enabled="false" localReaderEndpoint="https://pfs04/demo/cdcreader.ashx"/>
  </SAML20Federation>
	<system.diagnostics>
		<trace autoflush="true"/>
		<sources>
			<source name="dk.nita.saml20" switchValue="Verbose">
				<listeners>
					<add name="trace"/>
				</listeners>
			</source>
			<source name="dk.nita.saml20.auditLogger" switchValue="Information">
				<listeners>
					<add name="trace"/>
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add name="trace" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\temp\saml2-apoteka.tracelog"/>
		</sharedListeners>
	</system.diagnostics>
	<appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="SamlCertificateSpecification" value="dk.nita.saml20.Specification.SelfIssuedCertificateSpecification" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>