@{
    ViewBag.Title = "Prescriptions";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Prescriptions</h1>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>
</main>